.comics-list {
  display: flex;
  flex-wrap: wrap;
}

.comics-list .comic {
  margin: 20px;
  width: calc(25% - 40px);
  border: 2px solid grey;
}

.comics-list .comic a {
  text-decoration: none;
  color: black;
}

.comics-list .comic a .poster {
  text-align: center;
}

